body{
    font-family: "nunito";
    background-image: url(https://preview.redd.it/he-lanzado-la-version-1-0-beta-de-la-pagina-del-sub-v0-uftdv3y19fbg1.jpeg?width=320&crop=smart&auto=webp&s=31ba7df6595526ba632a02ec6daa90d10f0bd41d);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
img, h1, p, h2, details, summary{
    border-top: 3px solid hsl(158, 93%, 65%);
    background-color: #C0F9EF;
}
details{
    margin: 15px;
    
}
.icon{
    border: 2px solid #C0F9EF;
    border-radius: 50%;
    display: inline;
}
h1{
    display: block;
}
.xd{
    margin-top: 385px;
}
a{
    text-decoration: none; 
    background-color: #C0F9EF;
}
